.sidebar {
  position: sticky;
  top: 0%;
  left: 0;
  bottom: 0;
  height: 100vh;
  padding-right: 25px;
  padding-left: 25px;
  background: #5b5ce2;
  overflow: hidden;
  width: 100px;
  z-index: 1000;
}
.sidebar .flex {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  z-index: 1000;
}

.header {
  position: sticky;
}
.header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: #b5b5c3;
}
.header h3 {
  font-size: 18px;
  font-family: "Nunito Sans", sans-serif !important;
  font-weight: 800;
  line-height: 22.59px;
  text-align: left;
  color: #212121;
  margin-bottom: 3px;
}

hr {
  margin-top: 20px;
  height: 1.5px;
  background-color: grey;
  border-radius: 5px;
}

.main button {
  padding: 15px 25px;
  background: #1bc58d;
  color: white;
  border-radius: 10px;
}

.table-responsive table {
  margin-top: 40px;
}
.table-responsive table thead tr th {
  color: #b5b5c3;
}

.hero {
  padding-top: 40px;
  background: #eeeef5;
  width: 100%;
}
.hero .container .table-responsive {
  overflow-x: auto;
  margin: 1rem 0;
  margin-bottom: 2rem;
}
.hero .container .table-responsive table {
  width: 100%;
  border-collapse: collapse;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.hero .container .table-responsive table thead th {
  background-color: #f4f4f4;
  text-align: left;
  padding: 0.5rem;
}
.hero .container .table-responsive table thead th:last-child {
  text-align: center;
}
.hero .container .table-responsive table tbody tr:nth-child(odd) {
  background-color: #fcfcfc;
}
.hero .container .table-responsive table tbody tr td {
  padding: 0.5rem;
}
.hero .container .table-responsive table tbody tr td:last-child {
  text-align: center;
}
.hero .container .table-responsive table th,
.hero .container .table-responsive table td {
  border: 1px solid #ddd;
}
@media (max-width: 768px) {
  .hero .container .table-responsive table th,
  .hero .container .table-responsive table td {
    padding: 0.4rem;
  }
}
.hero .container .hero-top {
  background: #ffffff;
  border-radius: 10px;
  padding: 44px 25px;
}
.hero .container .hero-top .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero .container .hero-top .flex h3 {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 800;
  line-height: 11.52px;
  text-align: left;
  color: #212121;
}
.hero .container .hero-top .flex .input {
  outline: none;
  border-radius: 7px;
  border: none;
  width: 250px;
  height: 40px;
  padding-left: 50px;
  background: url("../../../assets/images/search.svg") no-repeat;
  background-position: 5px 5px;
  background-color: #f7f7ff;
}

.footer {
  margin-top: -500px;
}

.add-tovar {
  margin-top: 10px;
  padding: 15px 25px;
  background: #1bc58d;
  color: white;
  border-radius: 5px;
}

.loading-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}
.loading-container .loading-indicator {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  -webkit-animation: spin 1s ease infinite;
          animation: spin 1s ease infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
  .hero {
    padding-left: 100px;
  }
  .hero .container .hero-top .add-tovar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero .container .hero-top .flex input {
    margin-top: 20px;
  }
}